@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
#container {
  height: 100%;
}

button { /* Reset the button */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  background-color: lightgrey;
}

#container {
  display: grid;
  grid-template-columns: minmax(180px, 250px) minmax(500px, 1fr);
  grid-template-rows: 1fr 40px;
}

/* Sidebar Panel Styling */
#sidebar-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(236, 236, 236, 0.572);
  /* <offset-x> | <offset-y> | <blur-radius> | <spread-radius> | <color> */
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  max-width: 250px;
}

#sidebar-panel > #home {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#sidebar-panel > #projects {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#sidebar-panel img {
  height: 1.2rem;
}

#home,
#projects {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#home > button,
#projects > div,
#projects > button {
  /* Set all sidebar-panel tabs with display: flex and align center */
  display: flex;
  align-items: center;
  gap: 5px; /* Helps to space apart icons if relevant */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
}

#projects {
  border-top-style: solid;
  padding-top: 0.5rem;
}

.count {
  margin-left: auto;
}

#new-project {
  display: flex;
  gap: 5px;
  padding: 1rem;
  margin-top: auto;
  border-top: solid;
  border-color: lightgrey;
  position: relative;
}

#new-project:active {
  /* new-project is a button itself */
  background-color: rgb(187, 187, 187);
}

.new-project-input {
  position: absolute;
  margin-left: -1rem; /* negative margins to remove the parent padding to help with positioning */
  margin-top: -1rem; /* negative margins to remove the parent padding to help with positioning */
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  font-size: 1rem;
  padding: 10px;
  color: black;
}

.selected-tab {
  background-color: lightgrey;
}

/* Main Panel Styling */
#main-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem max(1.5rem, calc(15% - 3.5rem));
}

#main-panel-title {
  display: flex;
  font-size: 2rem;
  border-bottom: solid;
  min-width: 500px;
}

.main-panel-title-editor {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.main-panel-title-editor > img {
  height: 2rem;
}

.main-panel-title-editor > img:hover {
  cursor: pointer;
}

#main-panel-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

#main-panel-content > button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
}

.todo-due-date {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-left: auto;
  font-size: 0.8rem;
}

.todo-due-date > img {
  height: 1rem;
}

/* Footer Styling */
footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid;
  border-color: rgba(236, 236, 236);
  background-color: aliceblue;
}
